/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
    ]

    withName: '.*PGTOOLS_MERGEFASTA|.*PGTOOLS_MERGERESULTS' {
        ext.prefix = { meta.condition ? "${meta.condition}_${meta.id}" : "${meta.id}" }
        ext.args   = { params.plot_upset ? "--upset" : '' }
    }

    withName: DIAMOND_BLASTP {
        container = 'biocontainers/diamond:2.1.12--hdb4b4cc_1'
        ext.args  = { "--max-target-seqs 1 --header simple --evalue ${params.max_evalue}" }
    }

    withName: '.*:BLAST:.*|.*:CLASSIFYPROTEINS' {
        ext.prefix = { meta.condition ? "${meta.condition}_${meta.id}" : "${meta.id}" }
    }

    withName: DIAMOND_MAKEDB {
        container = 'biocontainers/diamond:2.1.12--hdb4b4cc_1'
    }

    withName: 'TCDO_ORFOLOGY:ORFOLOGY:CSVTK_JOIN' {
        ext.prefix = { "${meta.id}_all+unique_proteins" }
        ext.args   = "-D \$'\t' --tabs --out-tabs -L -e -P --na NA -p -e"
    }

    withName: MULTIQC {
        ext.args   = { params.multiqc_title ? "--title \"${params.multiqc_title}\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
}
